.show {
    display: block !important;
}

a.ab_button {
    background: inherit !important;
}

.ab_dropdown {
    z-index: 999;
}

.blockedVisible .blocked {
    display: block;
    background-color: #FFD2D2;
}

.blocked, #blocklistNotification {
    display: none;
}

#blocklistNotification {
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}
